[submodule "Analyses/hig-20-015"]
	path = Analyses/hig-20-015
	url = https://gitlab.cern.ch/cms-hcg/cadi/hig-20-015.git
[submodule "Analyses/hig-19-003"]
	path = Analyses/hig-19-003
	url = https://gitlab.cern.ch/cms-hcg/cadi/hig-19-003.git
